@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1c2431;
}

.nav-container {
  min-height: 9vh;
  max-width: 1440px;
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: auto;
}

.nav-container .nav-logo {
  margin: 2rem;
  width: 100px;
  height: 30px;
}

.nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 2rem;
}

.nav-container .nav-links .nav-link {
  text-decoration: none;
  color: white;
  margin: 1rem 2rem;
}

.main-container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  color: white;
  margin: auto;
}

.main-container .main-img {
  margin: 1rem;
}

.main-container .main-section {
  background-color: #1c2431;
  min-height: 60vh;
  background-image: url(./images/bg-curvy-desktop.svg);
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.main-container .main-p {
  text-align: center;
  margin: 1rem;
}

.main-container .main-btn {
  background: #339ecc;
  border: #339ecc;
  margin: 1rem;
  padding: 1rem 6rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.features-container {
  background: #181f2a;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: auto;
}

.features-container .features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-container .features-box .features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2rem;
}

.features-container .features-box .features-content h3 {
  margin: 1rem;
}

.exemple-container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  background-color: #181f2a;
  color: white;
  margin: auto;
}

.exemple-container .exemple-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container {
  height: 70vh;
  background: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  max-width: 1440px;
  margin: auto;
}

.card-container .card-content {
  background: #1c2431;
  border: 1px solid #1c2431;
  margin: 1rem;
  border-radius: 5px;
  padding: 2rem;
}

.card-container .card-content .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.card-container .card-content .card-info .card-img {
  border-radius: 50%;
  width: 50px;
  margin-right: 1rem;
}

.email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #181f2a;
  color: white;
}

.email-container .email-box {
  border: 1px solid #1c2431;
  background: #1c2431;
  width: 900px;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px red;
          box-shadow: 2px 2px 2px red;
}

.email-container .email-box .email-input {
  margin-top: 1rem;
  border-radius: 30px;
  background: white;
  padding: 1rem;
  width: 300px;
}

.email-container .email-box .email-btn {
  background: #339ecc;
  border: 1px solid #339ecc;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 30px;
  color: white;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-height: 30vh;
}
/*# sourceMappingURL=styles.css.map */